<!-- WEB API用CSS -->
<style type="text/css">
#search_result_list {
	border: 1px solid #333333;
	padding: 5px;
}

.api_h2{
	font-size:24px;
	border-bottom: solid 3px #CCCCCC;
	padding-bottom:  5px;
	position:  relative;
}
.api_h2:before{
	content:  '';
	width: 120px;                    /* 幅指定 */
	height: 3px;                    /* 高さ指定 */
	background-color: #333333;      /* 背景色指定 */
	display:  block;                /* ブロック要素にする */
	position:  absolute;            /* 位置調整 */
	left:  0;                       /* 位置調整 */
	bottom: -3px;
}

.api_h3{
	font-size:18px;
}
.api_h3:before{
	content: "■ ";
}
.api_result {
	width: 100%;
/*	border-collapse: collapse;*/
}
.api_result td {
	border: 1px solid #333;
	padding: 3px;
}

.api_result a{
	color:#0000FF;
	text-decoration: none;
}

.api_result a:hover{
	color:#FF6600;
	text-decoration: underline;
}

</style>

/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.student.same-height-always{
    max-height: 0px;
}

.student.same-height-always .text{
    max-height: 0px;
}

.student.same-height-always .bottom{
    max-height: 0px;
}
.testimonial.same-height-always{
    max-height: 0px;
}

.testimonial same-height-always .text{
    max-height: 0px;
}

.testimonial same-height-always .bottom{
    max-height: 0px;
}

.testimonials .item .testimonial .name-picture h5 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}
/* 
.testimonials .item .testimonial .name-picture img{

} */

.testimonials .item .testimonial .bottom .icon {
    display: none;
}

.customers .item {
    list-style-type: none;
    margin: 0 5px;
    background: #fff;
    padding-bottom: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.customers .item img {

    max-height: 190px;
    margin: auto;
}
.owl-item{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}
